body{
	display: flex;
	flex-direction: column;
	align-items: center;
}

body[attacking=true]{
	pointer-events: none;
}

button{
	border: none;
	padding: 2% 3%;
}

.board-container{
	display: grid;
	grid-template-rows: repeat(10, 1fr);
	grid-template-columns: repeat(10, 1fr);
	grid-gap: 3px;
	height: min(500px, 80vw);
	width: min(500px, 80vw);
}

.board-square{
	background-color: blue;
}

.board-square[hit-status=miss]{
	background-color: grey;
}

.board-square[hit-status=hit]{
	background-color: red;
}

.new-game-button{

}

.next-button{

}